<nav class="bottom-nav" aria-label="Navegação principal">
  @for (item of items; track item.path) {
    <a
      class="bottom-nav__item"
      [routerLink]="item.path"
      routerLinkActive="bottom-nav__item--active"
    >
      <span class="bottom-nav__icon"
        ><mat-icon>{{ item.icon }}</mat-icon></span
      >
      <span class="bottom-nav__label">{{ item.mobileLabel ?? item.label }}</span>
    </a>
  }
  <button
    type="button"
    class="bottom-nav__item"
    [class.bottom-nav__item--active]="navigation.isSecondaryRouteActive()"
    (click)="openMore.emit()"
  >
    <span class="bottom-nav__icon"><mat-icon>more_horiz</mat-icon></span>
    <span class="bottom-nav__label">Mais</span>
  </button>
</nav>
